@model List<awesome_site.Cms.Events.Event>
<article>    
  @foreach (var day in @Model.GroupBy(e => e.EventStartTime.Day)) {
  var eventStartTime = day.First().EventStartTime;
  <h2>@eventStartTime.ToString("dddd d. MMMM")</h2>
  <ul>
    @foreach (var eventElement in day) {
    <li>
      @if (eventElement.PublicStartTime) {
        <p>From: @eventElement.EventStartTime</p>
        <p>To: @eventElement.EventEndTime</p>
      }
      <p>Content:</p>
      <p>@Html.Raw(eventElement.ProgramContentAsHtml)</p>
    </li>
    }
  </ul>
  }
</article>